NODE_ENV=production
PORT=3000
COMMERCE_PROVIDER=custom
CUSTOM_API_BASE_URL=http://127.0.0.1:3001/api
NEXT_PUBLIC_CUSTOM_API_BASE_URL=https://elowynn.com/api
NEXT_PUBLIC_SITE_URL=https://elowynn.com
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED=false
SITE_NAME=Elowynn
COMPANY_NAME=Elowynn
